.inout {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin: unset !important;
    background-color: darkgray;
    padding-left: 10px;
    width: 174px;
}

button {
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 100%;
}

td {
    width: 25%;
    /* height: 16.6%; */
}
.cal {
    
    height: 0px;
}

table {
    background-color: darkgray;
}